<% layout("layouts/boilerplate")%>

<div class="g-col-6">
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="display-5"><%= e.title %></h4>
      <h6 class="card-text">
        Hosted By</h6>
        <h6 class="card-text"><img
            class="avatar"
            alt="avatar"
            src="<%= e.host.avatar %>"
            referrerpolicy="no-referrer" /><%= e.host.name%>
      </h6>
    </div>
    <div class="card-body">
      <h4 class="card-title">Details</h4>
      <p class="card-text"><%= e.description %></p>
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold"><i class="bi bi-clock"></i></div>
            <%= e.dateTime %>
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold"><i class="bi bi-geo-alt"></i></div>
            <%= e.address %>
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Budget</div>
            <%= e.budget%>
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Status</div>
            <%= e.status%>
          </div>
        </li>
      </ul>
      <br />

      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <% if(user
        &&!e.participants.find((p)=>p._id.toString()===user._id.toString())
        &&e.host._id.toString()!==user._id.toString()) {%>
        <form action="/events/<%= e._id%>/users" method="POST">
          <button type="submit" class="btn btn-success">Join</button>
        </form>
        <% } %>
        <!-- only the host can edit/delete the event -->
        <% if(user&&e.host.equals(user._id)) {%>

        <a href="/events/<%= e._id %>/edit" class="btn btn-danger">Edit</a>

        <form action="/events/<%= e._id% %>?_method=DELETE" method="POST">
          <button type="button" class="btn btn-warning">Delete</button>
        </form>
      </div>

      <% } %>
    </div>
  </div>
</div>

<div class="g-col-6">




  <div class="card">
  <% if (user
  &&(e.participants.find((p)=>p._id.toString()===user._id.toString())||e.host._id.toString()===user._id.toString()))
  { %>
    <div class="card-header">
    All Transactions
  </div>

  <div class="card-body">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Created By</th>
      
      <th scope="col">Category</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>

    </tr>
  </thead>
  <tbody>
<% let i=1 %> <% let total=0 %>
    <% e.transactions.forEach((t) => {%>
    <tr>
      <th scope="row"><%= i%></th>
      
      <td><%= t.userName %></td>
      <td><%= t.category %></td>
      <td><%= t.type %></td>
      <td>$<%= t.amount %></td>
      <td><%= t.date.toLocaleDateString() %></td>
     
    </tr>
    <% i++ %>
    <% if(t.type==="Expense"){%>
      <% total=total+t.amount %>
<% } %>
     <% });%>

    <tr>
  <th scope="row" colspan="4">Total Expense</th>
  <td colspan="2">$<%= total.toFixed(2) %></td> <!-- Adjust colspan as needed -->
</tr>
    
  </tbody>
</table>


    
    <a href="/events/<%= e._id%>/newTransaction" class="btn btn-primary">Add Transaction</a>
  </div>

  

  
 
  <% } %>


  </div>
</div>
